{
    email {$ACME_EMAIL}
    acme_dns cloudflare {$CF_DNS_API_TOKEN}
}

{$BASE_DOMAIN}:{$EMBY_HTTPS_PORT} {
    reverse_proxy emby:8096
}

{$BASE_DOMAIN}:{$QBIT_HTTPS_PORT} {
    reverse_proxy qbittorrent:8080 {
        header_up Host qbittorrent:8080
        header_up X-Forwarded-Proto https
        header_up -Origin
        header_up -Referer
    }
}

{$BASE_DOMAIN}:{$OPENLIST_HTTPS_PORT} {
    reverse_proxy openlist:5244
}

{$BASE_DOMAIN}:{$DIFY_HTTPS_PORT} {
    reverse_proxy arkmedia-dify-nginx:80
}
